.icons{
    font-size: 50px;
    padding-top: 40px;
    color: green;
}
.icond{
    font-size: 50px;
    padding-top: 40px;
    color:red;
}
.iconm{
    font-size: 50px;
    padding-top: 40px;
    color:rgb(102, 169, 232);
}

    

